<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">irshad*2005</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- Replace update with validate when program runs once!!!!-->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        
       <property
			name="hibernate.format_sql">true</property>
        
        <mapping class="com.ca.db.model.LoginUser" />
		<mapping class="com.ca.db.model.ApplicationLog" />
		<!-- initial records -->
		<mapping class="com.ca.db.model.BranchOffice" />
		<mapping class="com.ca.db.model.Vendor" />
		<mapping class="com.ca.db.model.Category" />
		<mapping class="com.ca.db.model.UnitsString" />
		<mapping class="com.ca.db.model.Specification" />

		<mapping class="com.ca.db.model.Item" />
		<mapping class="com.ca.db.model.Transfer" />
		<mapping class="com.ca.db.model.ItemReturn" />
           
    </session-factory>
</hibernate-configuration>